<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Heart Disease Prediction & Failure Prevention System</title>

    <!-- Custom fonts for this template-->
    <link
      href="../static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/predict"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-heartbeat"></i>
          </div>
          <div class="sidebar-brand-text mx-3">H.D.P & F.P.S</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="
              navbar navbar-expand navbar-light
              bg-white
              topbar
              mb-4
              static-top
              shadow
            "
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <img class="img-profile rounded-circle"
                                    src="{{session["picture"]}}">
                  <span class="mx-2 d-none d-lg-inline text-gray-600 small"
                    >{{session["name"]}}</span
                  >
                </a>
              </li>
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="/logout"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    > <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i> Logout</span
                  >
                </a>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- {% if result == null %} -->
  <section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">
      <div class="text-center mb-5">
        <h2>Heart Disease Prediction & Failure Prevention System</h2>
      </div>

      <form
        action="{{url_for('predict')}}"
        method="POST"
        role="form"
        class="php-email-form"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="row justify-content-center">
          <div class="col-md-4 form-group">
            <input
              type="number"
              class="form-control"
              name="age"
              id="age"
              placeholder="Age"
              min="0"
              max="150"
              step="1"
              required
            />
          </div>
          <div class="col-md-4 form-group">
            <select required name="cp" id="cp" class="form-control">
              <option value="">Chest Pain ?</option>
              <option value="3">Extreme</option>
              <option value="2">Intense</option>
              <option value="1">Moderate</option>
              <option value="0">None</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 form-group mt-3">
            <input
              type="number"
              class="form-control"
              name="trestbps"
              id="trestbps"
              placeholder="trestbps"
              min="0"
              max="1000"
              required
            />
          </div>
          <div class="col-md-4 form-group mt-3">
            <input
              type="number"
              class="form-control"
              name="chol"
              id="chol"
              placeholder="Cholestrol"
              min="0"
              max="1000"
              required
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 form-group mt-3">
            <select required name="fbs" id="fbs" class="form-control">
              <option value="">FBS ?</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select required name="restecg" id="restecg" class="form-control">
              <option value="">Restecg ?</option>
              <option value="2">High</option>
              <option value="1">Moderate</option>
              <option value="0">Low</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 form-group mt-3">
            <input
              type="number"
              class="form-control"
              name="thalach"
              id="thalach"
              placeholder="Thalach"
              min="0"
              max="1000"
              required
            />
          </div>
          <div class="col-md-4 form-group mt-3">
            <select required name="exang" id="exang" class="form-control">
              <option value="">Exang ?</option>
              <option value="1">High</option>
              <option value="0">Low</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 form-group mt-3">
            <input
              type="number"
              class="form-control"
              name="oldpeak"
              id="oldpeak"
              placeholder="Old Peak"
              min="0"
              max="1000"
              step="0.1"
              required
            />
          </div>
          <div class="col-md-4 form-group mt-3">
            <select required name="slope" id="slope" class="form-control">
              <option value="">Slope ?</option>
              <option value="2">High</option>
              <option value="1">Moderate</option>
              <option value="0">Low</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 form-group mt-3">
            <select required name="ca" id="ca" class="form-control">
              <option value="">CA ?</option>
              <option value="3">Extreme</option>
              <option value="2">Intense</option>
              <option value="1">Moderate</option>
              <option value="0">None</option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select required name="thal" id="thal" class="form-control">
              <option value="">Thal ?</option>
              <option value="3">Extreme</option>
              <option value="2">Intense</option>
              <option value="1">Moderate</option>
              <option value="0">None</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 form-group mt-3">
            <select required name="sex" id="sex" class="form-control">
              <option value="">Sex ?</option>
              <option value="1">Male</option>
              <option value="0">Female</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <button class="btn btn-primary btn-block" type="submit">
              START PROCESSING NOW
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- {% endif %} -->
  <!-- End Appointment Section -->

  {% if result %}
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="text-center mb-5">Here are the results</h2>
        </div>
        {% for variable, value in original_input.items() %}
        <div class="card mb-3 ml-2 pt-5 col-lg-4">
          <div class="text-center"><b>{{variable}}</b></div>
          <div class="card-body">
            <h5 class="card-title text-center">{{value}}</h5>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row justify-content-center">
        <div class="card col-md-6 col-lg-6 text-center mb-5 mb-lg-0 pt-5">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="">Quick Test Results</h4>
            <p class="description">{{result}}</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <a
          href="/predict"
          class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12"
        >
          <button class="btn btn-primary btn-block" type="submit">
            START AGAIN
          </button>
        </a>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- End Featured Services Section -->
</main>
<!-- End #main -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Heart Disease Prediction & Failure Prevention System 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <div
      class="modal fade"
      id="viewModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="viewUser"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="longitude">Full Name:</label>
              <input type="text" class="form-control" id="surname" disabled />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label for="latitude">Username:</label>
              <input type="text" class="form-control" id="username" disabled />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="reported_by">Email:</label>
              <input type="text" class="form-control" id="email" disabled />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label for="latitude">Role:</label>
              <input type="text" class="form-control" id="rolename" disabled />
            </div>
            <div class="col-sm-6">
              <label for="longitude">Created By:</label>
              <input
                type="text"
                class="form-control"
                id="created_by"
                disabled
              />
            </div>
          </div>

          <!-- <div class="modal-footer">
                        <button class="btn btn-secondary" type="submit" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div> -->
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
  </body>
</html>
